$gradints :(
    "blue-field" : linear-gradient(90deg, rgba(29,240,253,1) 0%, rgba(186,207,106,1) 100%),
    "sky-blue": linear-gradient(90deg, #1CB5E0 0%, #000851 100%), 
);

@each $gradient, $value in $gradints{
    .bg-g-#{$gradient}{
         background: $value
        }
}

$offsets :(
    "0": 0px,
    "1": 5px,
    "2": 10px,
    "3": 15px,
    "4": 20px,
    "5": 25px,
    "6": 30px,
    "7": 40px,
);

@each $offset, $value in $offsets{
    .m-#{$offset}{
         margin: $value !important
        }
    .mt-#{$offset}{
        margin-top: $value !important
    }
    .mb-#{$offset}{
        margin-bottom: $value !important
    }
    .mr-#{$offset}{
        margin-right: $value !important
    }
    .ml-#{$offset}{
        margin-left: $value !important
    }

    .p-#{$offset}{
        padding: $value !important
    }
    .pt-#{$offset}{
        padding-top: $value !important
    }
    .pb-#{$offset}{
        padding-bottom: $value !important
    }
   .pr-#{$offset}{
        padding-right: $value !important
    }
    .pl-#{$offset}{
        padding-left: $value !important
    }
}


$theme: (
    "primary": #463ffc,
    "tean" : #38d0cd,
    "secondary" : #f50057
);

@each $color, $value in $theme{
    .bg-#{$color}{
         background-color: $value !important;
         color: white !important;
        }
}

.fullSize
{
    height: 100vh;
    width: 100vw;
}

.App
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container
{

}

.question-box
{
  max-width: 80vw;
}

.answers-container
{
    display: flex;
    justify-content: space-around;
}

.line-height-0
{
    line-height: 0 !important;
}
